* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.jokes {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.joke-box {
    width: 260px;
    height: auto;
    box-shadow: 0 0 10px rgb(202, 202, 202);
    border: 2px solid rgb(224, 224, 224);
    margin: 20px;
    padding: 20px;
}

#punchline {
    transition: color 1s ease;
    cursor: pointer;
}